@font-face {
  font-family: "blanch";
  src: url("/font/blanch.woff") format("woff");
}

.header {
  background-size: cover;
  background-position: center;
  position: relative;
  background-color: #8198bd;
  text-align: center;
  @include media-query(600px) {
    text-align: left;
  }

  &-description {
    color: $color-text-light-primary;
    font-size: 0.9rem;
  }

  &-heading {
    color: $color-text-light-primary;
    font-size: 4.0rem;
    font-family: blanch;
    line-height: 1.0;

    a {
      &,
      &:active,
      &:focus,
      &:hover {
        color: inherit;
      }
    }
  }

  &-overlay {
    height: 100%;
    padding-bottom: 60px;
    padding-top: 60px;
    position: relative;
    z-index: 10;
    @include media-query(600px) {
      padding-bottom: 30px;
      padding-top: 30px;
    }
  }

  &-character {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 70%;
    z-index: 1;
    @include media-query(360px) {
      visibility: hidden;
    }
  }
}
